* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}


.header {
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.username {
    background: #e9f4ff;
    padding: 10px 18px;
    border-radius: 10px;
    color: #4aa3ff;
    font-weight: 500;
}


.hero {
    padding: 60px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text {
    max-width: 550px;
}

.hero-text h1 {
    font-size: 42px;
    line-height: 1.3;
    color: #4a4a4a;
}

.hero-text h1 span {
    color: #4aa3ff;
}

.hero-text p {
    margin: 20px 0;
    color: #777;
    line-height: 1.6;
}

.btn {
    padding: 14px 28px;
    background: #4aa3ff;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}


.hero-image img {
    width: 380px;
}

@media (max-width: 900px) {
    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        display: none;
    }
}
